//////////////////////////////////
//           COLORS             //
//////////////////////////////////


$color-primary: #16f7d5;
$color-secondary: #dd0031;
$color-tertiary: #5bdafb;

$color-black: #121212;
$color-black-light: #252627;
$color-black-dark: #070707;
$color-magenta: #ff00ff;

$color-grey-gold: #5b554d;

$color-grey: #3d3d3d;
$color-grey-light: #cacaca;
$color-grey-lighter: #e0e0e0;

$color-white: #fff;

:root {
    --color-grey-gold: #5b5b5b;
    --color-primary: #16f7d5;
}