.about-me {
    position: absolute;
    top: 50%;
    left: 14rem;
    transform: translate(0, -50%);
    width: 48%;
    @include respond(tab-land) {
        width: 42%;
        left: 12rem;
    }
    @include respond(tab-port) {
        width: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @include respond(phone) {
        width: 80%
    }

    &__circle {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: $color-black;
        opacity: 0;
        animation: 1.2s 1.2s fadeIn forwards;

        &--1 {
            border: 3px solid $color-primary;
        }
        &--2 {
            border: 3px solid $color-secondary;
        }
        &--3 {
            border: 3px solid $color-magenta;
        }
    }
    &__icon {
        width: 3rem;
        height: 3rem;
        &--1 {
            fill: $color-primary;
        }
        &--2 {
            fill: $color-secondary;
        }
        &--3 {
            fill: $color-magenta;
        }
    }

    &__element {
        padding: 2.5rem 0;
        display: flex;
        align-items: center;
        position: relative;
        font-size: 1.7rem;
        color: $color-grey-light;
        &::after {
            content: "";
            width: calc(50% + 3rem);
            height: 50%;
            position: absolute;
            opacity: 0;
            animation: 1.2s 1.2s fadeIn forwards
        }

        &--1 {
            &::after {
                top: 50%;
                left: 3rem;
                border-left: 3px solid $color-black;
                border-bottom: 3px solid $color-black;
                border-bottom-left-radius: 10px;
            }
        }
        &--2 {
            flex-direction: row-reverse;
            text-align: right;
            &::after {
                top: -3px;
                right: 3rem;
                height: calc(100% + 6px);
                width: calc(50% - 3rem);
                border-right: 3px solid $color-black;
                border-top: 3px solid $color-black;
                border-bottom: 3px solid $color-black;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }
        &--3 {
            &::after {
                top: 0;
                left: 3rem;
                border-left: 3px solid $color-black;
                border-top: 3px solid $color-black;
                border-top-left-radius: 10px;
            }
        }

        &--content{
            overflow: hidden;
            width: 60%;
            margin: 0 4rem;
        }
    }
}

.emoticon-game {
    position: absolute;
    top: 9rem;
    right: 5rem;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    flex-direction: column;

    @include respond(tab-port) {
        display: none;
    }
}
.game__hint {
    &--icon {
        fill: $color-grey-gold;
        --color1: var(--color-grey-gold);
    }
}